<a
    href="#"
    (click)="onSelected()"
    class="list-group-item list-group-item-action flex-column align-items-start">
    <article class="d-flex w-100 justify-content-between">
        <h4 class="mb-1 col">{{ recipe.name }}</h4>
    </article>

    <article class="row">
        <p class="mb-1 col">{{ recipe.description }}</p>

        <img
            [src]="recipe.imagePath"
            alt="{{ recipe.name }}"
            class="img-fluid mr-3"
            style="max-height: 50px;">
    </article>
</a>
